body {
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  word-spacing: 1px;
  color: #2f2f2f;
  margin: 0;
}
img {
  border: none;
}
a {
  color: #333; /*#666*/
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.navwrap{
    width:620px !important;
    margin: 0 auto;
    
}
.nav .headinfo{
    font-size: 12px;
}

.nav .headinfo a{
	font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}
.nav .headinfo img{
	vertical-align: middle;
    display: inline-block;
	height: 15px;
    margin-bottom: 3px;
}

.header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
  color: #444;
}
.main {
  max-width: 620px;
  margin: 90px auto;
  /*padding: 0 30px 50px;*/
  position: relative;
}

@media screen and (max-width: 420px) {

}

@media screen and (min-width: 1400px) {

}
.page-wrap{
    text-align: center;
}

.debtn{
    clear: both;
    display: inline-block;
    padding: 6px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: #fff;    
    cursor: pointer;
}
.debtn-default{
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc !important;
}
.debtn-success{
    background: #42c02e !important;
}
.debtn-primary{
    background: #3194d0 !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

#sidepanel{position:fixed;bottom:80px;right:0;z-index:1000;width: 30px;height: 30px;overflow: hidden;}
#sidepanel a{display:block;position:relative;text-align:center;color: black;text-decoration: none;font-size: 26px;outline: none;}

.css3top{overflow:hidden; height:25px;}
.css3top:before{content:''; height:10px; width:10px; display:block; border:2px solid #b3b3b3; border-left-width:0; border-bottom-width:0; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); position:absolute; top:7px; left:7px;}

.bs-wrap{
}
.user-font{
    font-size:12px;
}
.user-wrap{
    margin-top: 20px;
}
.bs-wrap .detail-view td, .bs-wrap .detail-view th{
    border: 0 !important;
}
.has-error .help-block{
    color: #a94442;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:12px;
}

.reset-wrap .form-group{
  margin:2px 0;
}

.reset-wrap .form-control{
  padding:3px 5px;
}
