@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Mono Thin'), local('RobotoMono-Thin'), url(../fonts/Roboto Mono/Roboto-Mono-Thin.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Thin.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'), url(../fonts/Roboto Mono/Roboto-Mono-Light.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Light.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto Mono/Roboto-Mono.eot);
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(../fonts/Roboto Mono/Roboto-Mono.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto Mono/Roboto-Mono.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono.svg#RobotoMono) format('svg'), url(../fonts/Roboto Mono/Roboto-Mono.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(../fonts/Roboto Mono/Roboto-Mono-Bold.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Bold.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Mono Thin Italic'), local('RobotoMono-ThinItalic'), url(../fonts/Roboto Mono/Roboto-Mono-Thin-Italic.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Thin-Italic.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Thin-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'), url(../fonts/Roboto Mono/Roboto-Mono-Light-Italic.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Light-Italic.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Light-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'), url(../fonts/Roboto Mono/Roboto-Mono-Italic.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Italic.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'), url(../fonts/Roboto Mono/Roboto-Mono-Bold-Italic.ttf) format('truetype'), url(../fonts/Roboto Mono/Roboto-Mono-Bold-Italic.woff) format('woff'), url(../fonts/Roboto Mono/Roboto-Mono-Bold-Italic.woff2) format('woff2');
}

